<div  style="height:100%;background-color: rgba(0, 0, 45, 0.9);">
    <div style="height:180px;" data-dismiss="modal">
    </div>
    <div class="row">
      <div class="col-md-4"  data-dismiss="modal"></div>
      <div class="col-md-4" style="background-color:white;text-align:center;">
        <div class="modal-header">
          <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
          <%= render "modals/signup_header"%>
        </div>
      </div>
      <div class="col-md-4" style="height:100%;" data-dismiss="modal"></div>
    </div>
    <div style="height:100%;" data-dismiss="modal">
    </div>
</div>