<div style="height:100%;background-color: rgba(0, 0, 70, 0.9);">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="background-color:white;text-align:center;margin-top:180px;border-radius: 20px;">
        <div class="modal-header">
          <%= render "modals/signup_header"%>
        </div>
        <div class="modal-body">
          <%= render "modals/signup_body"%>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>