<div id="second_signup" class ="modal fade" aria-hidden="true" aria-labelledby="modal_label" role="dialog" style="display: none; " tabindex="-1">
  <div style="height:100%;background-color: rgba(0, 0, 70, 0.9);">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="background-color:white;text-align:center;margin-top:180px;border-radius: 20px;">
        <div class="modal-header">
          <h2>aaaaaaaaaaa</h2>
        </div>
        <div class="modal-body">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
</div>