<div class="container">
  <div class="row-fluid">
    <div class="col-md-8"style="background-color:blue;">
      <%= render "shared/one_content", object:@article %>
    </div>
    <div class="col-md-4"style="background-color:red;">
      <div class="row-fluid">
      <% if @articles.present? %>
        <% @articles.map do |object| %>
          <%= render "shared/one_content", object:object %>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>
