<div class="col-md-12" style="height:230px;">
  <div style="margin: 15px auto 5px auto;background: #fbfbfb;height:220px;">
      <div style="height:62%;">
        <%=link_to image_tag(object.photo.url(:medium),class:"img-responsive")%>
      </div>
      <div class="title" style="height:38%;">
        <h4><%=link_to object.title, object %></h4>
      </div>
  </div>
</div>