<% if object.present? %>
  <%= link_to article_path(object) do %>
    <div class="btn-img" style="position:relative;">
      <div class="img-wrap bg-img" style="padding-right:2px;border-right: 2px solid #FFFFFF;">
        <%= image_tag(object.photo.url(:large),class:"img-responsive")%>
      </div>
      <div style="position:absolute;left:5%;top:70%;right:5%;bottom:2%;color:white;">
        <h2 style="weight:900;"><%= object.title%></h2>
      </div>
    </div>
  <% end %>
<% end %>