<div class="col-md-4 center-block">
  <%= link_to object do %>
      <div class="plan-box">
        <div class="plan-photo">
          <%=link_to image_tag(object.photo.url(:medium),class:"img-responsive",style:"width:100%;height:100%")%>
        </div>
        <div class="plan-intro">
          <div class="plan-limit">
            <p><%=link_to object.title, object %></p>
          </div>
        </div>
      </div>
    <% end %>
</div>