<div class="row">
  <div class="col-md-8" style="padding:0!important;">
    <div style="height:100%; width:800px;">
      <%= render "shared/main_article", object: @top_article%>
    </div>
  </div>
  <div class="col-md-4" style="padding:0!important;">
    <div style="border-bottom: 2px solid #FFFFFF;height:190px;width:400px;">
      <%= render "shared/sub_article", object: @second_article%>
    </div>
    <div style="height:190px;width:400px;">
      <%= render "shared/sub_article", object: @third_article%>
    </div>
  </div>
</div>