<div class="profile-frame">
  <div class="introduction">
    <% if user_signed_in? %>
      <div><%=link_to image_tag(current_user.profile_photo.url(:square)),edit_user_registration_path%></div>
    <% else %>
      <h1>no Image</h1>
    <% end %>
  </div>
  <div class="following">

  </div>
</div>