<% if object.present? %>
  <%= link_to article_path(object) do %>
    <div class="btn-img bg-img" style="position:relative;overflow:hideen;">
      <div class="img-wrap" style="border-right:2px solid #FFFFFF;">
        <%= image_tag(object.photo.url(:large),class:"img-responsive")%>
      </div>
      <div style="position:absolute;left:5%;top:60%;right:5%;bottom:2%;color:white;">
        <h3 class="title-sub"style="weight:500;"><%= object.title%></h3>
      </div>
    </div>
  <% end %>
<% end %>