<div class="row" style="border-bottom:1px solid #ccc;">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 block-center" style="height:140px;">
    <div class="col-md-12" style="height:80px;margin-top:30px;">
      <div class="col-md-2">
        <%= image_tag(current_user.profile_photo.url(:square),style:"display:block;width:80px;height:80px;")%>
      </div>
      <div class="col-md-10">
        <div>
          <h5>Title</h5>
          <h5>Name</h5>
          <h5>description</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
<div class="row">
  <div class="pick_title">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" style="height:55px;">
      <div class="col-md-1" style="text-align:center;border-bottom: 5px solid #f4bd6b;"><h5>PICK</h5></div>
      <div class="col-md-1" style="text-align:center;"><h5>21</h5><h5>following</h5></div>
      <div class="col-md-1" style="text-align:center;"><h5>1</h5><h5>followed</h5></div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
<div class="row">
  <div class="pick">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" style="height:55px;">
      <% current_user.articles.map do |object|%>
        <%= render 'shared/one_content', object:object%>
      <% end %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>